@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  margin: 0px;
}

/*폰트 안티 앨리어싱-> 글씨체 적용시 뭔가 안예쁘면 transform: rotate(0.03deg)하기*/
body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background {
  background-color: #4B89DC;
  margin: auto;
  width: auto;
  height: 100vh;
  background: linear-gradient(blue, white);
  text-align: center;
}


table {
  margin: 0 auto;
  margin-top: 10px;
  border-collapse: collapse;
  width: 800px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  border-color: blue;
}

tr {
  border-bottom: 1px solid black;
}

th,tr {
  text-align: center;
}

.payment-btn {
  float: right;
  margin: 10px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  border-color: yellow;
  color: black;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(45deg, yellow 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

/*:hover :focus :active 순서대로 넣어줘야함 안 그럼 잘 안됨*/
.payment-btn:hover {
  background-position: 0;
}

.bot {
  margin: 0 auto;
  width: 800px;
}

/* css 할때 Object Oriented CSS 라고 하는 작성 관습을 이용하자
 css 할때 뼈대를 나눠서 재사용할 수 있게끔 ㄱㄱ
 class 작명할때 창의력이 딸리면 BEM(Block__Element--Modifier) 룰 따라하기
 */