* {
  margin: 0px;
}

.background {
  background-color: #4B89DC;
  margin: auto;
  width: auto;
  height: 100vh;
  background: linear-gradient(blue, white);
  text-align: center;
}


table {
  margin: 0 auto;
  margin-top: 10px;
  border-collapse: collapse;
  width: 800px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  border-color: blue;
}

tr {
  border-bottom: 1px solid black;
}

th,tr {
  text-align: center;
}

.payment-btn {
  float: right;
  margin: 10px;
  bottom: 20px;
  right: 20px;
  padding: 1%;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  border-color: yellow;
  color: black;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(45deg, yellow 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.payment-btn:hover {
  background-position: 0;
}

.bot {
  margin: 0 auto;
  width: 800px;
}