div, input, textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  padding: 10px;
}

.yellow-b {
  padding: 10px;
  width: 100px;
  display: block;
  float: right;
  border-radius: 5px;
  border-color: blue;
  color: white;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;
}

.yellow-b:hover {
  color: black;
  box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}

@media screen and (max-width:768px) {
  .w-50 {
    width: 100%;
    clear: both;
    padding: 10px;
  }
}
