body {
  margin: 0;
}

.flex-item {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 5px;
}

.flex-container {
  height: 500px;
  display: flex;/*가로배치 쉽게하는 법*/
  flex-direction: row;/*정렬방향 가로세로 정하기 가능*/
  justify-content: center;/*수평방향정렬 가로만*/
  align-items: center;/*수직방향정렬 세로만*/
  flex-wrap: wrap;/*요소(넓이)가 크면 밑으로 보내버림*/
}

.nav-container {
  background-color: aqua;
  display: flex;
  height: 100px;
  align-items: center;
  padding: 5px;
}

.nav-bar {
  margin-right: 10px;
}